.clip-text-container {

  .clip-text {
    font-size: 80px;
    font-weight: bold;
    font-family: monospace;
    line-height: 1;
    position: relative;
    display: inline-block;
    padding: 50px 0;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(./ClipText.jpg);
  
  }
  
  .clip-text:before,
  .clip-text:after {
    position: absolute;
    content: '';
  }
  
  .clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
  }
  
  .clip-text:after {
    position: absolute;
    z-index: -1;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    background-color: var(--gray-dark);
  }
  
  @media (min-width: 576px) { 
    .clip-text:after {
      right: 100px;
      left: 100px;
    }
  }

}